@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to git action lab by techlanders</h1>
    <h1 class="display-4">Welcome to git action lab by techlanders</h1>
</div>
